---

---
<nav class="p-8 flex flex-row-reverse sm:max-w-full m-0">
    <ul class="flex space-x-4 mx-auto justify-center items-center hidden sm:inline-flex ">
        <li class=""><a href="">Home</a></li>
        <li class=""><a href="">About</a></li>
        <li class=""><a href="">Projects</a></li>
        <li class=""><a href="">Contact</a></li>
        <li class=""><a href="">Resume</a></li>
    </ul>
      <div id="hamburger" class="space-y-2 sm:invisible cursor-pointer">
        <span class="block w-8 h-1 bg-gray-600"></span>
        <span class="block w-8 h-1 bg-gray-600"></span>
        <span class="block w-8 h-1 bg-gray-600"></span>
      </div>
</nav>

<div id="links-menu" class="hidden sm:hidden z-10 -my-2 absolute">
    <ul class="flex flex-col sm:w-max-full items-center text-lg bg-gray-400 my-2">
        <li class="block w-screen text-center hover:bg-gray-300"><a class="block w-screen py-4 active:bg-gray-100" href="">Home</a></li>
        <li class="block w-screen text-center hover:bg-gray-300"><a class="block w-screen py-4 active:bg-gray-100" href="">About</a></li>
        <li class="block w-screen text-center hover:bg-gray-300"><a class="block w-screen py-4 active:bg-gray-100" href="">Projects</a></li>
        <li class="block w-screen text-center hover:bg-gray-300"><a class="block w-screen py-4 active:bg-gray-100"href="">Contact</a></li>
        <li class="block w-screen text-center hover:bg-gray-300"><a class="block w-screen py-4 active:bg-gray-100"href="">Resume</a></li>
    </ul>
</div>

<script>
const hamburger = document.getElementById('hamburger')
const links = document.getElementById("links-menu")
hamburger.addEventListener('click', () => {
    links.classList.toggle('hidden')
})
</script>