---

---
<nav class="p-8 flex flex-row-reverse max-w-full">
    <ul class="flex space-x-4 mx-auto justify-center hidden sm:inline-flex">
        <li class="p-2"><a href="">Home</a></li>
        <li class="p-2"><a href="">About</a></li>
        <li class="p-2"><a href="">Projects</a></li>
        <li class="p-2"><a href="">Contact</a></li>
        <li class="p-2"><a href="">Resume</a></li>
    </ul>
      <div id="hamburger" class="space-y-2 sm:invisible ">
        <span class="block w-8 h-1 bg-gray-600"></span>
        <span class="block w-8 h-1 bg-gray-600"></span>
        <span class="block w-8 h-1 bg-gray-600"></span>
      </div>
</nav>
<div id="links-menu">
    <ul class="flex flex-col w-max-full items-center text-lg bg-gray-400 my-2">
        <li class="px-[100%] py-4 hover:bg-gray-100"><a class="" href="">Home</a></li>
        <li class="px-[100%] py-4 hover:bg-gray-300"><a href="">About</a></li>
        <li class="px-[100%] py-4 hover:bg-gray-300"><a href="">Projects</a></li>
        <li class="px-[100%] py-4 hover:bg-gray-300"><a href="">Contact</a></li>
        <li class="px-[100%] py-4 hover:bg-gray-300"><a href="">Resume</a></li>
    </ul>
</div>

<script>
const hamburger = document.getElementById('hamburger')
const links = document.getElementById("links-menu")
hamburger.addEventListener('click', () => {
    links.classList.toggle('hidden')
})
</script>